body{
  background-color: rgb(197, 228, 231);
}
.App{
  background-color: aquamarine ;
  margin: auto;
  margin-top: 30px;
  width: 350px;
  border: 2px solid black;
}

.App>header{
  margin: auto;
  width: 230px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 20px;
}

.form-one>div>label{
  font-size: 20px;
}

.form-one>div>input{
  
  margin-left: 20px;
  font-size: 20px;
  width: 140px;
  text-align: right;
  
  }
.form-one>div{
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border: 2px solid black ;
  margin: 2px;
  box-shadow: brown;
}
#Buttons{
  padding:10px;
  display: flex;
  justify-content: space-around;
}

#Buttons>div>button{
  font-size: 20px;
}