body{
  color: white;
  font-family: 'Spartan', sans-serif;
  background-color: rgb(169, 190, 212);
}
.App{
  background-color: hsl(222, 26%, 31%) ;
  margin: auto;
  margin-top: 15vh;
  width: 340px;
  border: none;
  border: 2px solid black;
  padding: 4px;
  border-radius: 5px;
}

.App>header{
  margin: auto;
  width: 260px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black ;
  box-shadow: 0px 2px gray;
}

.form-one>div>label{
  font-size: 20px;
}

.form-one>div>input{
  background-color: hsl(224, 36%, 15%);
  color: white;
  margin-left: 20px;
  font-size: 20px;
  width: 140px;
  text-align: right;
  border: none;
  border-radius: 4px;
  
  }
.form-one>div{
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 2px solid black ;
  margin: 2px;
  box-shadow: 0px 2px gray;
}
#Buttons{

  padding:10px;
  display: flex;
  justify-content: space-around;

}

#Buttons>div>button{
  font-family: 'Spartan', sans-serif !important;
  text-decoration: none;
  padding: 10px;
  border: none;
  font-size: 15px;
  background-color:  hsl(30, 25%, 89%);
  box-shadow: 1px 2px  hsl(28, 16%, 65%);

}

#reset-button{
 
  background-color: hsl(6, 63%, 50%) !important;
  box-shadow: 1px 2px  hsl(6, 70%, 34%) !important;
}