.App{
  background-color: aquamarine ;
  margin: auto;
  margin-top: 30px;
  width: 350px;
}

.App>header{
  margin: auto;
  width: 170px;
  margin-bottom: 20px;
}

.form-one>div>span>label{
  font-size: 20px;
}
.form-one>div>span{
  width: 200px;
}
.form-one>div>input{
  margin-left: 20px;
  font-size: 20px;
  width: 100px;
  }